/* Created Using Easy HTML v1.4.5 */
/* https://play.google.com/store/apps/details?id=ak.andro.easyhtml */

@import url("https://fonts.googleapis.com/css?family= Poppins: 300,400,500,600,700,800,900& display= swap");
@media only screen and (min-width: 768px){
{ display:none;
}
width:80%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #003f71;
  position: initial;
  z-index: initial;
}
.calculator {
  position: relative;
  display: grid;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.16), 0 5px 14px 0 rgba(0, 0, 0, 0.12);
}
.calculator .value {
  grid-column: span 4;
  height: 100px;
  text-align: right;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 18px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.calculator span {
  display: grid;
  width: 60x;
  height: 60px;
  color: #fff;
  background: #2f6590;
  place-items: center;
  border: 0px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.calculator span:active {
  background: #74ff3b;
  color: #111;
}
.calculator span.clear {
  grid-column: span 2;
  width: 100%;
  background: #ff3077;
}
.calculator span.plus {
  grid-row: span 2;
  height: 100%;
}
.calculator span.equal {
  background: #03b1ff;
  border-bottom-right-radius: 5px;
}
.bottom-border-left {
  border-bottom-left-radius: 5px;
}
